@import "./drop-shadows";
@import "./flex";
@import "../../App";

$padding-sm: 0.7rem 1.25rem;
$padding-md: 0.8rem 1.5rem;
$padding-lg: 0.9rem 1.75rem;
$sizes: (
  "sm": $padding-sm,
  "md": $padding-md,
  "lg": $padding-lg,
);

.btn {
  border: none;
  border-radius: 0.5rem;
  font-family: "Noto Sans JP";
  font-size: 15px;
  font-weight: 500;
}

@each $size, $value in $sizes {
  .btn-#{$size} {
    @extend .btn;
    padding: $value;
  }
}

.default {
  @extend .btn-sm;
  background-color: $button-gray1;
  color: $black4;
  &:hover,
  &:focus {
    @extend .default-grey;
  }
}

.default-grey {
  @extend .default;
  background-color: $default-hover;
}

.blue {
  @extend .btn-sm;
  background-color: $blue1;
  color: $white;
  &:hover,
  &:focus {
    background-color: $primary-hover;
  }
}

.outline-blue {
  @extend .btn-sm;
  color: $blue1;
  background-color: $white;
  border: 1px solid $blue1;
  &:hover,
  &:focus {
    background-color: $blue2;
  }
}

.default-blue {
  @extend .outline-blue;
  background-color: $blue2;
}

.text {
  @extend .btn-sm;
  background-color: $white;
  filter: none;
  color: $blue1;
  &:hover,
  &:focus {
    background-color: rgba(41, 98, 255, 0.1);
  }
}

.text-hover {
  @extend .text;
  background-color: rgba(41, 98, 255, 0.1);
}

.disabled-default {
  @extend .btn-sm;
  background-color: $button-gray1;
  color: $gray1;
}

.disabled-text {
  @extend .text;
  color: $gray1;
}

@each $size, $value in $sizes {
  .primary-#{$size} {
    @extend .btn-#{$size};
    background-color: $primary;
    color: $white;
    &:hover,
    &:focus {
      background-color: $primary-hover;
    }
  }
}

.primary-focus {
  @extend .primary-sm;
  background-color: $primary-hover;
  margin-top: 2rem;
}

.secondary-sm {
  @extend .btn-sm;
  color: $white;
  background-color: $secondary;
  &:hover,
  &:focus {
    background-color: $secondary-hover;
  }
}

.secondary-focus {
  @extend .secondary-sm;
  background-color: $secondary-hover;
  margin-top: 2rem;
}

.danger-sm {
  @extend .btn-sm;
  color: $white;
  background-color: $danger;
  &:hover,
  &:focus {
    background-color: $danger-hover;
  }
}

.danger-focus {
  @extend .danger-sm;
  background-color: $danger-hover;
  margin-top: 2rem;
}
