@import "./drop-shadows";
@import "./flex";
$padding-sm: 0.7rem 1.25rem;
$padding-md: 0.8rem 1.5rem;
$padding-lg: 0.9rem 1.75rem;
$sizes: (
  "sm": $padding-sm,
  "md": $padding-md,
  "lg": $padding-lg,
);

.btn {
  border: none;
  border-radius: 0.5rem;
  font-family: "Noto Sans JP";
  font-size: 15px;
  font-weight: 500;
}

@each $size, $value in $sizes {
  .btn-#{$size} {
    @extend .btn;
    padding: $value;
  }
}

.default {
  @extend .btn-sm;
  background-color: var(--button-gray1);
  color: var(--black4);
  &:hover,
  &:focus {
    @extend .default-grey;
  }
}

.default-grey {
  @extend .default;
  background-color: var(--default-hover);
}


.blue {
  @extend .btn-sm;
  background-color: var(--blue1);
  color: var(--white);
  &:hover,
  &:focus {
    background-color: var(--primary-hover);
  }
}

.outline-blue {
  @extend .btn-sm;
  color: var(--blue1);
  background-color: var(--white);
  border: 1px solid var(--blue1);
  &:hover,
  &:focus {
    background-color: var(--blue2);
  }
}

.default-blue {
  @extend .outline-blue;
  background-color: var(--blue2);
}

.text {
  @extend .btn-sm;
  background-color: var(--white);
  filter: none;
  color: var(--blue1);
  &:hover,
  &:focus {
    background-color: rgba(41, 98, 255, 0.1);
  }
}

.text-hover {
  @extend .text;
  background-color: rgba(41, 98, 255, 0.1);
}

.disabled-default {
  @extend .btn-sm;
  background-color: var(--button-gray1);
  color: var(--gray1);
}

.disabled-text {
  @extend .text;
  color: var(--gray1);
}

.primary-sm {
  @extend .btn-sm;
  background-color: var(--primary);
  color: var(--white);
  &:hover,
  &:focus {
    background-color: var(--primary-hover);
  }
}

.primary-md {
  @extend .btn-md;
  background-color: var(--primary);
  color: var(--white);
  &:hover,
  &:focus {
    background-color: var(--primary-hover);
  }
}

.primary-lg {
  @extend .btn-lg;
  background-color: var(--primary);
  color: var(--white);
  &:hover,
  &:focus {
    background-color: var(--primary-hover);
  }
}

.primary-focus {
  @extend .primary-sm;
  background-color: var(--primary-hover);
  margin-top: 2rem;
}

.secondary-sm {
  @extend .btn-sm;
  color: var(--white);
  background-color: var(--secondary);
  &:hover,
  &:focus {
    background-color: var(--secondary-hover);
  }
}

.secondary-focus {
  @extend .secondary-sm;
  background-color: var(--secondary-hover);
  margin-top: 2rem;
}

.danger-sm {
  @extend .btn-sm;
  color: var(--white);
  background-color: var(--danger);
  &:hover,
  &:focus {
    background-color: var(--danger-hover);
  }
}

.danger-focus {
  @extend .danger-sm;
  background-color: var(--danger-hover);
  margin-top: 2rem;
}
