.main {
  display: flex;
  flex-direction: column;
  margin: 2.25rem 0 0 6rem;

  h2 {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 24px;
  }

  .grid-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    margin-bottom: 3rem;
  }

  .grid-2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    margin-bottom: 3rem;
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    & {
      margin-left: 4rem;
    }

    .grid-2 {
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
    }
  }

  @media (min-width: 200px) and (max-width: 992px) {
    & {
      margin-left: 3rem;
    }

    .grid-1 {
      grid-template-columns: 1fr;
      gap: 2rem;
    }

    .grid-2 {
      grid-template-columns: 1fr;
      gap: 1.5rem;
    }
  }
}
